@@ -3,6 +3,7 @@ body {
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;Collapse commentComment on line R5Tecnologiasonia commented on Aug 17, 2024 Tecnologiasoniaon Aug 17, 2024More actionsCaptura de tela 2024-05-18 110041
(https://github.com/user-attachments/assets/20e09f1d-9a78-4966-a42f-64662ae4907d)👍React with 👍2Rafaelliberatto and Katlyn240👎React with 👎1Ana-clara-nath😄React with 😄1Tecnologiasonia🎉React with 🎉1Tecnologiasonia👀React with 👀1TecnologiasoniaWrite a replyCode has comments. Press enter to view.
    margin-bottom: 100px;
}

header {
@@ -32,10 +33,6 @@ p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
@@ -45,4 +42,19 @@ img {
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}